@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Josefin+Sans:wght@300&family=Mulish&family=Pacifico&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #f0f0f0;
}

body {
	background-color: #272727;
}

header {
    background: #333232;
    padding: 10px 0;
}

.logo {
    width: 20%;
}

.nav-wrapper {
    position: relative;
    width: 940px;
    margin: 0 auto;
    font-family: "Mulish", serif;
}

nav {
    position: absolute;
    top: 80px;
    right: 0;
    
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{   
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    opacity: 0.8;
    transition: 0.5s;
}

main{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

form{
    padding: 1.5% 0 2.5% 0;
    margin: 0 auto;
    font-family: "Mulish", serif;
    color: #333232;
}

form label, form p{
    display: block;
    margin: 10px 0;
    font-size: 18px;
    color: #f0f0f0;
    font-weight: 500;
}

.input-text-pattern{
    width: 100%;
    padding: 10px 25px;
    margin: 10px 0;
    border: 1px solid #333232;
    border-radius: 15px;
    font-size: 18px;
    font-family: "Mulish", serif;
    color: #333232;
    background-color: #f3ecd8;
    box-shadow: 0 0 10px #000;
}

form input[type=radio]{
    margin: 0 10px 0 0;
}

.radio-pattern{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.div-hours{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-hours table{
    margin-top: 20px;
    margin-right: 100px;
    font-size: 18px;
    font-family: "Mulish", serif;
    color: #333232;
}

.select-pattern{
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    width: 150px;
    cursor: pointer;
    box-shadow: 0 0 10px #000;
    font-family: "Mulish", serif;
    font-size: 18px;
    color: #1c252f;
    background-color: #f3ecd8;
    box-shadow: 0 0 10px #000;
}

.select-pattern option{
    color: #1c252f;
    border: none;
}

table{
    font-family: "Mulish", serif;
    font-size: 18px;
    color: #333232;
}

#checkbox{
    margin: 30px 10px 0 0;
}

#submit{
    background-color: #1c252f;
    color: #f0f0f0;
    font-size: 18px;
    font-family: "Mulish", serif;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    width: 150px;
    margin-top: 50px;
    cursor: pointer;
    box-shadow: 0 0 10px #000;
}

#submit:hover{
    color: #f3ecd8;
    background-color: #283646;
    transition: 0.5s background-color;
}


footer{
    background: #333232;
    width: 100%;
    position: static;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    text-align: center;
}

.footer-wrapper h2{
    font-family: "Pacifico", serif;
    font-weight: 300;
}

.footer-wrapper p{
    font-family: "Josefin Sans", serif;
    margin-top: 10px;
}

.footer-icons li{
    display: inline-block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 5px;
    color: rgb(205, 200, 200);
    text-shadow: 0.1rem 0.1rem 1px black;
}