@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Josefin+Sans:wght@300&family=Mulish&family=Pacifico&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #f0f0f0;
}

body {
	background-color: #272727;
}

header {
    background: linear-gradient(#1b1b1b, #272727);
    padding: 10px 0;
}

.logo {
    width: 20%;
}

.nav-wrapper {
    position: relative;
    width: 940px;
    margin: 0 auto;
    font-family: "Mulish", serif;
}

nav {
    position: absolute;
    top: 80px;
    right: 0;
  
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{   
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    opacity: 0.8;
    transition: 0.5s;
}

main {
	width: 100%;
	margin: 0 auto;
}

section{
    text-align: center;
    padding: 80px 0;
}

section p {
    font-size: 1em;
    font-family: "Mulish", serif;
}

.banner{
    position: relative;
    width: 100%;
}

.title{
    position: relative;
    text-align: center;
    font-size: 2em;
    font-family: "Pacifico", serif;
    font-weight: 500;
    text-shadow: 5px 5px 5px #000;
    margin: 0 0 1em;
}

.about{
    background: linear-gradient(#272727, #1b1b1b);
}

.about-text{
    width: 75%;
    margin: 0 auto;
    padding: 0 0 0 0;
}

.about p{
    padding: 5px;
    box-sizing: border-box;
}

.about strong{
    font-weight: bold;
}

.about em{
    font-style: italic;
}

#products-button{
    background: transparent;
    border: 1px solid #f0f0f0;
    padding: 10px 20px;
    margin: 2em 0 1em 0;
    font-size: 1em;
    font-family: "Mulish", serif;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
}

#products-button:hover{
    background: black;
    color: #f0f0f0;
    border: 1px solid black;
    transition: 0.5s;
    scale: 1.1;
}

.benefits{
    width: 100%;
    background-image: url(../images/benefits.jpg);
    background-size: cover;
}

.benefits-content li{
    width: 100%;
    margin: auto ;
    display: flex;
    align-items: flex-start;
    justify-content: left;
}

.benefits-content > .ul-benefits{
    margin-top: 30px;
}

.ul-benefits{
    font-family: "Mulish", serif;
    font-size: 1.5em;
    text-align: center;
    width: 560;
    height: 300;
    margin: 0 5em;
    display: inline-block;
    vertical-align: top;
}

.itens{
    line-height: 1.5;
}

.itens:first-child{
    font-weight: bold;
}

.itens:before{
    content: "✄⠀";
}

.video{
    margin: 1em 10em 0 0;
    margin-right: 0;
    display: inline;
    vertical-align: top;
}

.video > iframe{
    width: 560px;
    height: 315px;
    transition: 400ms;
    box-shadow: 10px 10px 15px #000000;
    margin-top: 30px;
}

.map{
    padding: 3em 0 9em;
    background: linear-gradient(#1b1b1b, #272727);
}

.map p{
    margin: 0 0 2em;
}

.map-content{
    width: 940px;
	margin: 0 auto;
}

footer{
    background: linear-gradient(#272727, #1b1b1b, black);
    width: 100%;;
    position: static;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    text-align: center;
}

.footer-wrapper h2{
    font-family: "Pacifico", serif;
    font-weight: 300;
    text-shadow: 5px 5px 5px #000;
}

.footer-wrapper p{
    font-family: "Josefin Sans", serif;
    margin-top: 10px;
}

.footer-icons li{
    display: inline-block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 5px;
    color: rgb(205, 200, 200);
    text-shadow: 0.1rem 0.1rem 1px black;
}

@media screen and (max-width: 940px) {
    .nav-wrapper, .about, .benefits-content, .map-content, .video{
        width: auto;
    }

    h1{
        text-align: center;
    }

    nav{
        position: static;
        text-align: center;
    };

    .ul-benefits li, .video > iframe{
        width: 100%;
    }

    .ul-benefits{
        margin: 0 0 1em 0;
    }

    .video > iframe{
        width: auto;
        height: auto;
    }
}