@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Josefin+Sans:wght@300&family=Mulish&family=Pacifico&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #f0f0f0;
}

body {
	background-color: #272727;
}

header {
    background: linear-gradient(#1b1b1b, #272727);
    padding: 10px 0;
}

main{
    background: url(../images/banner-fade.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.logo {
    width: 20%;
}

.nav-wrapper {
    position: relative;
    width: 940px;
    margin: 0 auto;
    font-family: "Mulish", serif;
}

nav {
    position: absolute;
    top: 80px;
    right: 0;
    
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{   
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    opacity: 0.8;
    transition: 0.5s;
}

.products {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.products li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    background-color: #f3ecd8;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: #1c252f 5px solid;
    border-radius: 15px;
    box-shadow: 0 0 10px #000;
}

.products li:hover{
    background-color: #e2d1a2;
    cursor: pointer;
    transition: 0.5s;
}

.products h2 {
    font-size: 25px;
    font-weight: bold;
    color: #1c252f;
    font-family: "Pacifico", serif;
}

.products img{
    width: 100%;
    margin-bottom: 20px;
}


.product-description{
    font-size: 18px;
    color: #1c252f;
    font-family: "Josefin Sans", serif;
    font-weight: 600;
}

.product-price {
    font-size: 20px;
    font-weight: bold;
    color: #1c252f;
    margin-top: 10px;
    font-family: "Baloo Da 2", serif;
}

footer{
    background: linear-gradient(#272727, #1b1b1b, black);
    width: 100%;;
    position: static;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    text-align: center;
}

.footer-wrapper h2{
    font-family: "Pacifico", serif;
    font-weight: 300;
    text-shadow: 5px 5px 5px #000;
}

.footer-wrapper p{
    font-family: "Josefin Sans", serif;
    margin-top: 10px;
}

.footer-icons li{
    display: inline-block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 5px;
    color: rgb(205, 200, 200);
    text-shadow: 0.1rem 0.1rem 1px black;
}

@media screen and (max-width: 940px) {
    .nav-wrapper, .products {
        width: auto;
    }

    main {
        width: 100%;
        height: auto;
        background-size: cover;
    }
    
    h1{
        text-align: center;
    }

    nav{
        position: static;
        text-align: center;
    };

    main , .products {
        width: 100%;
    }

    .products li{
        display: block;
        align-items: center;
        width: 100%;
        margin: 0 0 5em 0;
    }

    .products img{
        width: 50%;
        margin: 0 auto;
    }

    .products h2{
        text-align: center;
    }

    .products p{
        text-align: center;
    }

    .products .product-price{
        text-align: center;
    }

}